@import url(./animations.scss);

div#app {
    @apply w-full h-[100vh];
}

::-webkit-scrollbar {
    display: none;
}

button:not([hastab]) {
    outline: none;
}

// #region 字体
@font-face {
    font-family: "Pixelfont";
    src: url("../fonts/fusion-pixel.ttf/") format("truetype");
}
// #endregion

// #region 主题样式
body {
    font-family: "Pixelfont";
    user-select: none;
}
// #endregion
